<html>
<head>
    <%- include parts/head.ejs %>
    <title>File Editing</title>
</head>

<body>
<h1>File Editor:</h1>

<form action="http://127.0.0.1:5000/edit" method="POST">
    <div>
        <input type="submit" value="Edit"/>
    </div>
    <% for (var id in images) {
        var image = images[id]; %>
    <div>
        <img src="/docs/images/<%= id + image.extension %>"/>
        <input name="<%= id %>" type="tags" id="<%= id %>" value="<%= image.tags %>"/>
    </div>
    <% }; %>
</form>

<%- include parts/tagScript.ejs %>
</body>
</html>